.main {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 200px 500px 0px 500px;
}

.line2{
  /* border: 2px solid black;  */
}

.line3{
  display: flex;
}
.line4{
  display: flex;
}
.line5{
  display: flex;
}
.line6{
  display: flex;
}
.line7{
  display: flex;
}