*{
  font-size: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  border: 2px solid #64748b;
  align-items: center;
  width: fit-content;
}

.exp{
  width: 94%;
  padding: 5px 2px 2px 2px;
  display: flex;
  justify-content: end;
  border: none;
  border-bottom: 2px solid black;
  text-align: right;
}

.exp:focus{
  outline: none;
}

.ans{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  width: 100%;
}

.finalAnswer{
  font-size: 30px;
}

.line{
  display: flex;
  border-bottom: 2px solid black; 
}

.line1{
  display: flex;
}

.a {
  padding: 30px 80px 30px 80px;
  width: 16px;
  margin: 2px;
  background-color: #64748b;
  color: white
}
.a:hover{
  background-color: #94a3b8;
}